---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};

import { getCollection } from "astro:content";

// Count all non-draft publication entries
const publications = await getCollection("publications");
const publicationsCount = publications.filter(p => !p.data.draft).length;

// Count all non-advisor entries
const researchers = await getCollection("people");
const researchersCount = researchers.filter(
  p => !p.data.draft && p.data.group !== "Advisors"
).length;
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      // src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      src: '~/assets/images/araya-company.jpg',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Araya R&D
      <!-- Elevate your online presence with our <br /> -->
      <!-- <span class="text-accent dark:text-white"> Beautiful Website Templates</span> -->
    </Fragment>

    <!-- <Fragment slot="subtitle"> -->
    <!--   Donec efficitur, ipsum quis congue luctus, mauris magna convallis mauris, eu auctor nisi lectus non augue. Donec -->
    <!--   quis lorem non massa vulputate efficitur ac at turpis. Sed tincidunt ex a nunc convallis, et lobortis nisi tempus. -->
    <!--   Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. -->
    <!-- </Fragment> -->
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Publications', amount: publicationsCount },
      { title: 'Researchers', amount: researchersCount },
      { title: 'Active Grants', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />



  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our mission"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Consciousness in biological and artificial systems',
        description:
        'To understand the biological functions and mathematical basis of consciousness and intelligence, and to apply this knowledge to develop conscious, intelligent machines.',
      },
      {
        title: 'Brain-machine interfaces',
        description:
        'To develop brain-machine interfaces to connect the brain to the Internet, AI, and other brains.'
      },
      {
        title: 'Interpretable AI',
        description:
        'To build tranparent and interpretable AIs, and provide formal tools to understand existing black-box models.'
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our areas"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Consciousness Science',
        description: 'Scientific study of consciousness and cognition in biological systems.',
        icon: 'tabler:brain',
      },
      {
        title: 'AI',
        description: 'Systematic study and implementation of SOTA models.',
        icon: 'tabler:ai',
      },
      {
        title: 'Neurotech',
        description: 'Working on the next generation of BMI technology.',
        icon: 'tabler:circuit-battery',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2 -->
  <!--   title="Our locations" -->
  <!--   tagline="Find us" -->
  <!--   columns={4} -->
  <!--   items={[ -->
  <!--     { -->
  <!--       title: 'EE.UU', -->
  <!--       description: '1234 Lorem Ipsum St, 12345, Miami', -->
  <!--     }, -->
  <!--     { -->
  <!--       title: 'Spain', -->
  <!--       description: '5678 Lorem Ipsum St, 56789, Madrid', -->
  <!--     }, -->
  <!--     { -->
  <!--       title: 'Australia', -->
  <!--       description: '9012 Lorem Ipsum St, 90123, Sydney', -->
  <!--     }, -->
  <!--     { -->
  <!--       title: 'Brazil', -->
  <!--       description: '3456 Lorem Ipsum St, 34567, São Paulo', -->
  <!--     }, -->
  <!--   ]} -->
  <!-- /> -->
  <!---->
  <!-- <!-- Features2 Widget ************** -->
  <!---->
  <!-- <Features2 -->
  <!--   title="Technical Support" -->
  <!--   tagline="Contact us" -->
  <!--   columns={2} -->
  <!--   items={[ -->
  <!--     { -->
  <!--       title: 'Chat with us', -->
  <!--       description: -->
  <!--         'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.', -->
  <!--       icon: 'tabler:messages', -->
  <!--     }, -->
  <!--     { -->
  <!--       title: 'Call us', -->
  <!--       description: -->
  <!--         'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.', -->
  <!--       icon: 'tabler:headset', -->
  <!--     }, -->
  <!--   ]} -->
  <!-- /> -->
</Layout>
