---
// src/pages/publications.astro
import PageLayout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';
import PublicationsList from '~/components/publications/PublicationsList.astro';
import { loadPublications } from '~/lib/publications';

const { years, groups } = await loadPublications();
---

<PageLayout title="Publications">
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-7xl">
    <Headline>
      Publications
      <Fragment slot="subtitle">
        Find us also on
        <a
          href="https://scholar.google.co.jp/citations?user=jDmnwwEAAAAJ&hl"
          target="_blank"
          class="hover:text-primary"
          >Google Scholar</a
        >
      </Fragment>
    </Headline>

    <PublicationsList {years} {groups} />
  </section>
</PageLayout>
